.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --logo-color:#2196f3;
  --logo-1-color: black ;
  --logo-1-footercolor:#fff;
  --hero-link-background-color: #2F303A;
  --priorety-link-color: #212121 ;
  --priorety-iten-color: #757575 ;
  --colektive-background-color: #F5F4FA;
  --text-body: roboto ,sans-serif ;
  --text-logo: Raleway , sans-serif ;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1150px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200;
  }
}

.class {
  color: var(--logo-color);
}

.body {
  font-family: var(--text-body);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: block;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-conteiner {
    position: relative;
    padding-top: 48px;
    padding-left: 25px;
  }
  .mobile-menu-close-buton {
    position: absolute;
    top: 10px;
    right: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
    fill: #212121;
    height: 11px;
    width: 11px;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  :hover,
  :focus {
    fill: #2196F3;
  }
  .mobile__menu-list-item {
    margin-top: 32px;
  }
  .mobile__menu-link-studio {
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile__menu-link {
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile__menu-tel-mail {
    padding-top: 30px;
  }
  .mobile__menu-tel-mail-list {
    padding-left: 26px;
    margin-bottom: 32px;
  }
  .mobile__menu-tel-mail-mail {
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile__menu-tel-mail-linc-tel {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    margin-top: 32px;
  }
  .mobile__menu-social-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #2196F3;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .mobile__menu-social-list::after {
    content: '';
    position: absolute;
    top: 56%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.2);
  }
  .mobile__menu-social-list::before {
    content: '';
    position: absolute;
    top: 56%;
    left: 36%;
    transform: rotatez(90deg);
    height: 2px;
    width: 30%;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

@media screen and (max-width: 768px) {
  .mobile__menu-social-link {
    width: calc((100% - 20px) / 2);
    text-align: center;
  }
}

.header {
  border-bottom: 2px solid #ECECEC;
}

.logotip {
  font-family: var(--text-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-1 {
  font-family: var(--text-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-1-color);
}

.logotip {
  display: flex;
  align-items: center;
  margin-right: 93px;
  animation-duration: 2000ms;
  animation-iteration-count: 2;
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .mail__tel {
    display: none;
  }
  .tel-link {
    display: none;
  }
  .header__menu-buton {
    line-height: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 20px;
    fill: #212121;
  }
  .header__menu-buton:hover, .header__menu-buton:focus {
    fill: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .header__menu-buton {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .logotip {
    display: flex;
    align-items: center;
    margin-right: 93px;
    animation-duration: 2000ms;
    animation-iteration-count: 2;
  }
  .navigation {
    display: flex;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu-item-studio {
    align-items: center;
  }
  .menu-item-portfolio {
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
  }
  .menu-link-portfolio {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--priorety-link-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link-portfolio:hover, .menu-link-portfolio:focus {
    color: var(--logo-color);
  }
  .menu-link-contakt {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--priorety-link-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link-contakt:hover, .menu-link-contakt:focus {
    color: var(--logo-color);
  }
  .mail__tel-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--priorety-iten-color);
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail__tel-link:hover, .mail__tel-link:focus {
    color: var(--logo-color);
  }
  .mail__tel-link:hover .mail-link-icon-mail,
  .mail__tel-link:focus .mail-link-icon-mail {
    fill: var(--logo-color);
  }
  .mail-link-icon-mail {
    display: inline-block;
    margin-right: 10px;
    fill: var(--priorety-iten-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    color: var(--priorety-iten-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link-tel:hover, .tel-link-tel:focus {
    color: var(--logo-color);
  }
  .tel-link-tel:hover .mail-link-icon-tel,
  .tel-link-tel:focus .mail-link-icon-tel {
    fill: var(--logo-color);
  }
  .mail-link-icon-tel {
    display: inline-block;
    fill: var(--priorety-iten-color);
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 2px solid #ECECEC;
  }
  .logotip {
    font-family: var(--text-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
  }
  .logo-1 {
    font-family: var(--text-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-1-color);
  }
  .header {
    border-bottom: 2px solid #ECECEC;
  }
  .top-line {
    box-sizing: border-box;
  }
  .logotip {
    display: flex;
    align-items: center;
    margin-right: 93px;
    animation-duration: 2000ms;
    animation-iteration-count: 2;
  }
  .navigation {
    display: flex;
  }
  .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu-item-studio {
    align-items: center;
  }
  .menu-item-portfolio {
    margin-left: 50px;
    align-items: center;
  }
  .menu-item-contakt {
    align-items: center;
  }
  .logotip {
    font-family: var(--text-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
  }
  .logo-1 {
    font-family: var(--text-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-1-color);
  }
  .menu-link-studio {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--logo-color);
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link-studio:hover, .menu-link-studio:focus {
    color: var(--logo-color);
  }
  .menu-link-studio-list {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--priorety-link-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link-studio-list:hover, .menu-link-studio-list:focus {
    color: var(--logo-color);
  }
  .menu-link-portfolio {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--priorety-link-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link-portfolio:hover, .menu-link-portfolio:focus {
    color: var(--logo-color);
  }
  .menu-link-contakt:hover,
  .menu-link-contakt:focus {
    color: var(--logo-color);
  }
  .menu-link-studio-list-portfolio {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--logo-color);
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link-studio-list-portfolio::after {
    position: absolute;
    left: 0;
    bottom: -32px;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--logo-color);
  }
  .menu-link-portfolio-list {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .menu-link-studio::after {
    position: absolute;
    left: 0;
    bottom: -34px;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--logo-color);
  }
  .menu-link-contakt {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--priorety-link-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--priorety-link-color);
  }
  .mail__tel {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .mail__tel-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--priorety-iten-color);
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail__tel-link:hover, .mail__tel-link:focus {
    color: var(--logo-color);
  }
  .mail__tel-link:hover .mail-link-icon-mail,
  .mail__tel-link:focus .mail-link-icon-mail {
    fill: var(--logo-color);
  }
  .mail-link-icon-mail {
    display: inline-block;
    margin-right: 10px;
    fill: var(--priorety-iten-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    color: var(--priorety-iten-color);
    margin-left: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link-tel:hover, .tel-link-tel:focus {
    color: var(--logo-color);
  }
  .tel-link-tel:hover .mail-link-icon-tel,
  .tel-link-tel:focus .mail-link-icon-tel {
    fill: var(--logo-color);
  }
  .mail-link-icon-tel {
    display: inline-block;
    margin-left: 30px;
    fill: var(--priorety-iten-color);
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero-sektion {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
}

.box-hero {
  text-align: center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/priorety/logo-phone-1.jpg");
  background-color: #C4C4C4;
}

.hero-item {
  text-align: center;
}

.modal-btn {
  margin-top: 40px;
  text-align: center;
}

.hero-item {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--logo-1-footercolor);
}

.modal-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--logo-1-footercolor);
  background-color: var(--logo-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
}

@media screen and (min-width: 480px) {
  .hero-sektion {
    text-align: center;
  }
  .box-hero {
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 1600px;
    background-size: cover;
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/priorety/logo-laptop-1.jpg");
    background-color: #C4C4C4;
  }
}

@media screen and (min-width: 768px) {
  .hero-sektion {
    text-align: center;
  }
  .box-hero {
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 1600px;
    background-size: cover;
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/priorety/logo-laptop-1.jpg");
    background-color: #C4C4C4;
  }
}

@media screen and (min-width: 1200px) {
  .hero-sektion {
    text-align: center;
  }
  .box-hero {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/priorety/logo-laptop-1.jpg");
    background-color: #C4C4C4;
  }
  .hero-item {
    text-align: center;
  }
  .modal-btn {
    margin-top: 40px;
    text-align: center;
  }
  .hero-item {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--logo-1-footercolor);
  }
  .modal-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--logo-1-footercolor);
    background-color: var(--logo-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 40px;
  }
}

.priorety-list {
  width: 100%;
  margin-top: 30px;
}

.priorety-logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  background: var(--colektive-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.priorety-link {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--priorety-link-color);
}

.priorety-iten {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--priorety-iten-color);
}

.priorety-logo {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .priorety {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-top: -30px;
    margin-left: -30px;
  }
  .priorety-list {
    width: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .priorety {
    flex-wrap: nowrap;
  }
  .priorety-link {
    text-align: start;
  }
}

@media screen and (min-width: 100px) and (max-width: 1199px) {
  .going-bloc {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .class-going {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .going-list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
  }
  .going-list-foto {
    position: relative;
    flex-basis: calc((100% - 90px)/3);
    margin-top: 30px;
    margin-left: 30px;
  }
  .going {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--priorety-link-color);
    margin-bottom: 50px;
  }
  .going-list-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--logo-1-footercolor);
  }
}

.collective-list-name {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .collective-list-name {
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .collective-list-name {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.collective-pipl {
  width: 100%;
  max-width: 450px;
  background: var(--colektive-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.collective-pipl:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .collective-pipl {
    width: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .collective-pipl {
    width: calc((100% - 120px) / 4);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.collective-pipl-foto-logo {
  width: 100%;
  max-width: 450px;
  max-height: 100%;
}

.collective-list {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  letter-spacing: 0.03em;
  color: var(--priorety-link-color);
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .collective-list {
    font-size: 36px;
  }
}

.collective-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--priorety-link-color);
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.collective-name-profesion {
  padding: 30px 32px;
}

.collective-profesion {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--priorety-iten-color);
  text-align: center;
  display: block;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item {
  border-radius: 50%;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  background-color: transparent;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--logo-color);
  fill: var(--logo-1-footercolor);
}

@media screen and (max-width: 1199px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client-cent {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--priorety-link-color);
  }
  .client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .client-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-top: -30px;
    margin-left: -30px;
  }
  .client-list-link {
    width: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
  .client-list-client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition-property: fill , border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-list-client:hover, .client-list-client:focus {
    fill: #2196f3;
  }
  .client-list-client:hover, .client-list-client:focus {
    border-color: #2196f3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list-link {
    width: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client-item {
    margin-left: auto;
    margin-right: auto;
  }
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client-cent {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--priorety-link-color);
  }
  .client-list {
    display: flex;
    align-items: center;
  }
  .client-list-link:not(:last-child) {
    margin-right: 20px;
  }
  .client-list-client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition-property: fill , border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-list-client:hover, .client-list-client:focus {
    fill: #2196f3;
  }
  .client-list-client:hover, .client-list-client:focus {
    border-color: #2196f3;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-link-background-color);
}

.footer-bloc {
  align-items: baseline;
}

.footer-bloc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-1-footercolor);
}

.address-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.logotip-footer {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--text-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-1-footer {
  font-family: var(--text-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-1-footercolor);
}

.footer-mail {
  font-style: normal;
  font-family: var(--text-body);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-style: normal;
  font-family: var(--text-body);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-footer {
  margin: 60px 0;
}

.social-footer-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.social-list-footer {
  display: flex;
  justify-content: space-between;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: var(--logo-color);
}

.social-list-link-footer:hover .social-list-icon-footer,
.social-list-link-footer:focus .social-list-icon-footer {
  fill: var(--logo-1-footercolor);
}

.social-list-icon-footer {
  fill: var(--logo-1-footercolor);
}

.social-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-footer-mail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-footer-mail-bloc {
  width: 100%;
}

.social-footer-mail-text {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.social-footer-mail-text-masege-mail {
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  color: #fff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-mail-text-masege-mail:hover, .social-footer-mail-text-masege-mail:focus {
  border-color: var(--logo-color);
}

.social-footer-mail-text-masege-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 1250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-mail-text-masege-button:hover, .social-footer-mail-text-masege-button:focus {
  background-color: var(--logo-color);
}

.social-footer-mail-text-masege-icon {
  margin-left: 10px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-bloc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .social-footer {
    margin-bottom: 100px;
  }
  .social-footer-mail-bloc {
    width: auto;
  }
  .footer-bloc-adres {
    margin-left: 61px;
    margin-right: 165px;
  }
  .social-footer-mail-text-masege-mail {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 94px;
  }
  .footer {
    background-color: var(--hero-link-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-bloc {
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }
  .footer-bloc-adres {
    margin-left: 0px;
    margin-right: 0px;
  }
  .social-footer {
    box-sizing: border-box;
    margin-left: 70px;
  }
  .social-footer-mail {
    display: flex;
    flex-direction: row;
    margin-left: 93px;
  }
  .social-footer-mail-text-masege-mail {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    margin-top: 20px;
    color: #fff;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-footer-list {
    align-items: flex-start;
  }
  .social-footer-mail-text-masege-button {
    margin-left: 12px;
    margin-top: 14px;
  }
}

.hero-buton {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
  margin-left: -8px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .hero-buton {
    justify-content: center;
  }
}

.hero-buton-text {
  margin-top: 8px;
  margin-left: 8px;
}

.hero-buton-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--priorety-link-color);
  background-color: var(--colektive-background-color);
  border-color: var(--colektive-background-color);
  transition-property: color , background-color , border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buton-link:hover, .hero-buton-link:focus {
  background-color: var(--logo-color);
  color: var(--logo-1-footercolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buton-text {
  margin-left: 8px;
}

.logotip-porfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: -30px;
  margin-left: -30px;
  justify-content: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .logotip-porfolio {
    justify-content: center;
  }
}

.logotip-porfolio:not(:last-child) {
  justify-content: center;
}

.portfolio-blok-list {
  margin-top: -30px;
  margin-left: -30px;
  justify-content: center;
}

.portfolio-blok-list:not(:last-child) {
  justify-content: center;
}

.logotip-porfolio-logo {
  margin-right: 15px;
  margin-left: 15px;
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  transition-property: colr;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logotip-porfolio-logo .logotip-porfolio-logo {
    width: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.logotip-porfolio-logo .porfolio-logotip-overlay {
  display: block;
  width: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .logotip-porfolio-logo .porfolio-logotip-overlay {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logotip-porfolio-logo .porfolio-logotip-overlay {
    width: calc((768px - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .logotip-porfolio-logo .porfolio-logotip-overlay {
    width: calc((1200px - 90px) / 3);
  }
}

.logotip-porfolio-logo:hover .porfolio-overlay,
.logotip-porfolio-logo:focus .porfolio-overlay {
  transform: translateY(0%);
}

.logotip-porfolio-logo-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.hero-list-href {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--priorety-link-color);
}

.hero-list-href-ink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--priorety-iten-color);
  margin-top: 4px;
}

.logotip-porfolio-logo:hover,
.logotip-porfolio-logo:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tim-list-overlay {
  position: relative;
  overflow: hidden;
}

.porfolio-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 63px 24px;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.magin-thre {
  padding-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms linear,visibility 250ms linear;
}

.button-modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-modal-close:hover,
.button-modal-close:focus {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-model-heder {
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  cursor: pointer;
}

.form-model {
  display: flex;
  flex-direction: column;
}

.form-model-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.form-model-wraper {
  display: block;
  position: relative;
}

.form-model-label {
  margin-bottom: 10px;
}

.form-model-input-logo {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  cursor: pointer;
}

.form-model-input:focus {
  border-color: var(--logo-color);
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-model-input:focus + .form-model-input-logo {
  fill: var(--logo-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-model-masage {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}

.form-model-masage::placeholder {
  font-family: var(--text-body);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}

.form-model-masage:focus {
  outline: none;
  border-color: var(--logo-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-model-checkbox-policy {
  padding-left: 25px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-top: 20px;
}

.form-model-checkbox-policy::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  cursor: pointer;
  margin-right: 7px;
}

.form-model-checkbox:checked + .form-model-checkbox-policy::before {
  border-color: var(--logo-color);
  background-color: var(--logo-color);
  background-image: url(../images/icons.svg/vektor-1.svg);
}

.model-for-btn {
  align-self: center;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  border-color: var(--logo-color);
  border-radius: 4px;
  padding: 10px 55px;
  margin-top: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */