
.footer{

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-link-background-color);
}

.footer-bloc{
    align-items: baseline;
}
.footer-bloc-content{
    display: flex;
    flex-direction: column;
align-items: center;
}
.address-footer-list{

    display: flex;
    flex-direction: column;
    align-items: center;
}


.address-footer{
    font-style: normal;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color:var(--logo-1-footercolor) ;
}

.address-list-item:not(:last-child){
margin-bottom: 8px;

}


.logotip-footer{
    display: block;
    text-align: center;
margin-bottom: 20px;
    font-family: var(--text-logo);
    font-weight: 700 ;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
    
    color: var(--logo-color) ;
}
.logo-1-footer{
    font-family:var(--text-logo);
    font-weight: 700 ;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
    
    color: var(--logo-1-footercolor);
}


.footer-mail{
    font-style: normal;
    font-family: var(--text-body);
font-weight:400;
    font-size: 14px;
    line-height: 1.71;

    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    
}
.footer-tel{
    font-style: normal;
    font-family: var(--text-body);

    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
.social-footer{

margin: 60px 0;

}


.social-footer-text{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 20px;
}
.social-list-footer {
    
    display: flex;
justify-content: space-between;
}

.social-list-link-footer{
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
border-radius: 50%;
background-color:rgba(255, 255, 255, 0.1);

transition-property: background-color ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-footer:hover,
.social-list-link-footer:focus{
    background-color: var(--logo-color);
}
.social-list-link-footer:hover .social-list-icon-footer,
.social-list-link-footer:focus .social-list-icon-footer{
    fill: var(--logo-1-footercolor);
}

.social-list-icon-footer{
   
    fill: var(--logo-1-footercolor);
   
}

.social-list-item-footer:not(:last-child){
        margin-right: 10px;
     }

     .social-footer-mail{
        width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .social-footer-mail-bloc{
        width: 100%;
     }
    
.social-footer-mail-text{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}


.social-footer-mail-text-masege-mail{
   width: 90%;
   margin-bottom: 20px;
margin-top: 20px;
padding-left: 16px;
padding-top: 15px;
padding-bottom: 15px;

border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: #2F303A;

color: #fff;


transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  border-color: var(--logo-color);
}

}

.social-footer-mail-text-masege-button{
    display: block;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.06em;
   color: #FFFFFF;

    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;  
cursor: pointer;

    display: flex;
align-items: center;
justify-content: center;

transition-property: background-color;
transition-duration: 1250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  background-color: var(--logo-color);

}}
.social-footer-mail-text-masege-icon{
    margin-left: 10px;
    
    justify-content: center;
}

@media screen and (min-width: 480px ) {
    
}

@media screen and (min-width: 768px ) {
    
.footer-bloc{
    display: flex;
    flex-wrap: wrap;
flex-direction: row;
}
.social-footer{
margin-bottom: 100px;
}
.social-footer-mail-bloc{
    width: auto;
}


.footer-bloc-adres{
    margin-left: 61px;
margin-right: 165px;
}
.social-footer-mail-text-masege-mail{
    width: 450px;
   
    
}
}

@media screen and (min-width: 1200px ) {
    
.footer{
    padding-top: 94px;
    

&{
    background-color: var(--hero-link-background-color);
    padding-top: 60px;  
    padding-bottom: 60px;
}
&-bloc{
width: 100%;

    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}
}
.footer-bloc-adres{
 margin-left: 0px;
 margin-right:0px ;
}
.social-footer{
    box-sizing: border-box;
    margin-left: 70px;
}


.social-footer-mail{
display: flex;
flex-direction: row ;
margin-left: 93px;
    }


.social-footer-mail-text-masege-mail{
    width: 358px;
height: 50px;
padding-left: 16px;
margin-right: 12px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: #2F303A;

margin-top: 20px;
color: #fff;


transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}
.address-footer-list{
    align-items: flex-start;
}
.social-footer-mail-text-masege-button{

        margin-left: 12px;
margin-top: 14px;
}

}





// .footer{
//     padding-top: 94px;
    

// &{
//     background-color: var(--hero-link-background-color);
//     padding-top: 60px;  
//     padding-bottom: 60px;
// }
// &-bloc{
//     display: flex;
//     align-items: baseline;
// }
// }

// .address-address{
//     margin-top: 20px;
// }

// .logotip-footer{
// margin-bottom: 20px;
//     font-family: var(--text-logo);
//     font-weight: 700 ;
//     font-size: 26px;
//     line-height: 1.19;
    
//     letter-spacing: 0.03em;
    
//     color: var(--logo-color) ;
// }
// .logo-1-footer{
//     font-family:var(--text-logo);
//     font-weight: 700 ;
//     font-size: 26px;
//     line-height: 1.19;
    
//     letter-spacing: 0.03em;
    
//     color: var(--logo-1-footercolor);
// }


// .addr{
// margin-top: 9px;

// }

// .address-footer{
//     font-style: normal;
//     font-family: var(--text-body);
// font-size: 14px;
// line-height: 1.71;

// letter-spacing: 0.03em;

// color:var(--logo-1-footercolor) ;
// }




// .footer-mail{
//     font-style: normal;
//     font-family: var(--text-body);
// font-weight:400;
//     font-size: 14px;
//     line-height: 1.71;

    
//     letter-spacing: 0.03em;
    
//     color: rgba(255, 255, 255, 0.6);
    
// }
// .footer-tel{
//     font-style: normal;
//     font-family: var(--text-body);

//     font-size: 14px;
//     line-height: 1.71;
//     font-weight: 400;
//     letter-spacing: 0.03em;
    
//     color: rgba(255, 255, 255, 0.6);
// }
// .social-footer{
//     box-sizing: border-box;
//     margin-left: 80px;
// }
// .social-footer-text{
// font-style: normal;
// font-weight: 700;
// font-size: 14px;
// line-height: 1.14;
// letter-spacing: 0.03em;
// text-transform: uppercase;

// color: #FFFFFF;
// margin-bottom: 20px;
// }

// .social-list-footer {
    
//     display: flex;
// justify-content: space-between;
// }


// .social-list-item-footer:not(:last-child){
//     margin-right: 10px;
// }




// .social-list-icon-footer{
//     width: 20px;
//     height: 20px;
//     fill: var(--logo-1-footercolor);
   
// }



// .social-list-link-footer{
// display: flex;
// justify-content: center;
// align-items: center;
// width: 44px;
// height: 44px;
// border-radius: 50%;
// background-color:rgba(255, 255, 255, 0.1);

// transition-property: background-color ;
// transition-duration: 250ms;
// transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// &:hover,
// &:focus{
//     background-color: var(--logo-color);
// }
// &:hover .social-list-icon-footer,
// &:focus .social-list-icon-footer{
//     fill: var(--logo-1-footercolor);
// }
// }

// .social-footer-mail{
// display: flex;
// margin-left: 93px;
    


// &-bloc{
//    width: 358px;
    
// }
// &-text{
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
    
//     color: #FFFFFF;
// }
// }
// .social-footer-mail-text-masege{
//     align-items: center;
// margin-right: 12px;

// }
// .social-footer-mail-text-masege-mail{
//     width: 358px;
// height: 50px;
// padding-left: 16px;
// margin-right: 12px;
// border: 1px solid rgba(255, 255, 255, 0.3);
// box-sizing: border-box;
// filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
// border-radius: 4px;
// background-color: #2F303A;

// margin-top: 20px;
// color: #fff;


// transition-property: color;
// transition-duration: 250ms;
// transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


// }


// .social-footer-mail-text-masege-button{
//     width: 200px; ;
//     height: 50px;
//     margin-left: 12px;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;

//     letter-spacing: 0.06em;
//    color: #FFFFFF;

//     width: 200px;
//     height: 50px;
//     background: #2196F3;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;  

//     display: flex;
// align-items: center;
// justify-content: center;
// align-self: flex-end;
// }
// .social-footer-mail-text-masege-icon{
//     margin-left: 10px;
    
//     justify-content: center;
// }
