:root{
    --logo-color:#2196f3;
    --logo-1-color: black ;
    --logo-1-footercolor:#fff;
--hero-link-background-color: #2F303A;
--priorety-link-color: #212121 ;
--priorety-iten-color: #757575 ;
--colektive-background-color: #F5F4FA;
--text-body: roboto ,sans-serif ;
--text-logo: Raleway , sans-serif ;
}